<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Adm Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <main>
        <!-- futuramente o código virá para cá em todfos os arquivos -->
    </main>
    <h2>Gerenciar Salas</h2>
    <a href={{adicionarSala}}><button>Adicionar Sala</button></a>
    <a href={{listarSala}}><button>Listar Sala</button></a>
    <a href={{editarSala}}><button>Editar Sala</button></a>
    <a href={{deletarSala}}><button>Deletar Sala</button></a>
    <hr>
    <h2>Gerenciar Filmes</h2>
    <a href={{adicionarFilme}}><button>Adicionar Filme</button></a>
    <a href={{listarFilmes}}><button>Listar Filmes</button></a>
    <a href={{editarFilme}}><button>Editar Filme</button></a>
</body>

</html>