<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Adm Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <main>
        <!-- futuramente o código virá para cá em todfos os arquivos -->
    </main>
    <h2>Gerenciar Salas</h2>
    <a href={{adicionarSala}}><button>Adicionar Sala</button></a>
    <a href={{listarSala}}><button>Listar Sala</button></a>
    <a href={{editarSala}}><button>Editar Sala</button></a>
    <hr>
    <h2>Gerenciar Filmes</h2>
    <a href={{adicionarFilme}}><button>Adicionar Filme</button></a>
    <a href={{listarFilmes}}><button>Listar Filmes</button></a>
    <a href={{editarFilme}}><button>Editar Filme</button></a>
    <h2>Relatórios</h2>
    <a href={{relatorioVendas}}><button>Vendas Diárias</button></a>
    
    <h2>🏆 Top 5 Filmes Mais Populares 🏆</h2>
    {% if filmes_populares %}
        <ol>
            {% for filme, vendas in filmes_populares %}
                <li>{{ filme }} ({{ vendas }} vendas)</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Ainda não há vendas registradas para calcular a popularidade dos filmes. Bora vender uns ingressos!</p>
    {% endif %}
</body>

</html>