<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Confirmação de Venda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_totem.css') }}">
</head>

<body>
    <div>
        <h2>Venda Confirmada! 🎉</h2>
        <p><strong>Filme:</strong> {{ filme.titulo }}</p>
        <p><strong>Sala:</strong> {{ sala_num }}</p>
        <p><strong>Horário:</strong> {{ horario }}</p> {# Adiciona a exibição do horário #}
        
        <h3>Assentos Vendidos:</h3>
        <ul>
            {% for item in assentos_vendidos %}
                <li><strong>Assento:</strong> {{ item.assento }} | <strong>Tipo:</strong> {{ item.tipo|capitalize }}</li>
            {% endfor %}
        </ul>

        <h3>Total da Compra: <span style="color: #0056b3;">R$ {{ "%.2f"|format(total_compra)|replace('.', ',') }}</span></h3>

        <a href="{{ url_for('vend.vendInit') }}">Nova Venda</a>
    </div>
</body>

</html>