<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolher Filme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h3>Selecione o Filme</h3>
        <form method="POST">
            {% for filme in filmes %}
            <div>
                <input type="radio" name="filme" 
                       id="filme{{ loop.index }}" value="{{ loop.index }}">
                <label for="filme{{ loop.index }}">
                    {{ filme.titulo }}
                </label>
            </div>
            {% endfor %}
            <button type="submit">Próximo</button>
        </form>
    </div>
</body>
</html>
