<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Escolher Assentos e Tipos de Ingresso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_totem.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cinemap.css') }}">
</head>

<body style="overflow: hidden;">
    <nav class="navTotem">
        <a href="{{ url_for('vend.escolher_sala') }}" class="botao_voltar">
            <img src="../../static/img/arrow.svg" alt="" srcset="">
            Voltar
        </a>
        <img src="../static/img/LogoOpenTickets.svg" alt="Open Tickets logo" class="logoNav">
    </nav>
    <main class="mainContainer">
        <form method="POST" id="form-venda">
            <section class="seat-selection-area">
                <h2>Selecione os Assentos</h2>
                <article>
                    <span class="screen">TELA</span>
                    <div class="seat-map-container">
                        <div class="seat-map" id="seat-map"
                            style="--num-colunas: {{ sala_obj.colunas if sala_obj else 10 }};">
                            {% for row_seats in mapa %}
                            <div class="seat-row">
                                {% for assento_code in row_seats %}
                                {% if assento_code == 'XX' %}
                                <div class="seat occupied" data-assento-code="{{ assento_code }}">X</div>
                                {% else %}
                                <div class="seat" data-assento-code="{{ assento_code }}">{{ assento_code }}</div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </section>

            <aside class="ticket-quantity-area">
                <article>
                    <img src="{{filme.urlFoto}}" alt="" srcset="" style="width: 80px;">
                </article>
                <p>Filme: <strong>{{ filme.titulo }}</strong> | Sala: <strong>{{ sala_num }}</strong> | Horário:
                    <strong>{{ horario }}</strong>
                </p>
                <h4>Tipo de Ingresso</h4>
                <div class="ticket-type-control">
                    <span>Inteira (R$ {{ "%.2f"|format(PRICES.inteira)|replace('.', ',') }})</span>
                    <div class="quantity-control">
                        <button type="button" class="decrease-quantity" data-type="inteira">-</button>
                        <span class="count" id="count-inteira">0</span>
                        <button type="button" class="increase-quantity" data-type="inteira">+</button>
                    </div>
                </div>
                <div class="ticket-type-control">
                    <span>Meia-Entrada (R$ {{ "%.2f"|format(PRICES.meia)|replace('.', ',') }})</span>
                    <div class="quantity-control">
                        <button type="button" class="decrease-quantity" data-type="meia">-</button>
                        <span class="count" id="count-meia">0</span>
                        <button type="button" class="increase-quantity" data-type="meia">+</button>
                    </div>
                </div>

                <div class="total-info">
                    <h4>Assentos Selecionados: <span id="num-assentos-selecionados">0</span></h4>
                    <p id="total-price">R$ 0,00</p>
                </div>
                <p class="validation-message" id="quantity-validation-message" style="display: none;">
                    O número de ingressos inteira + meia não corresponde ao número de assentos selecionados!
                </p>
                <div id="hidden-inputs-container"></div>
                {# INPUT INVISIVEL PARA ENVIAR DaDOS - Ex: <input type="hidden" name="assentos_selecionados_final[]"
                    value="A1:inteira"> #}
    
                <button type="submit" class="btnHigh" style="margin-top: 20px;">Finalizar Compra</button>
            </aside>

        </form>
    </main>

    <script src="{{ url_for('static', filename='js/cinemap.js')}}"></script>
</body>

</html>