.mainContainer {
    background: linear-gradient(356deg,rgba(2, 0, 36, 0) 0%, rgba(91, 113, 223, 0.315) 100%);
    padding: 40px;
    height: 700px;
    overflow-y: scroll;
}
.mainContainer form{
    display: grid;
    grid-template-columns: 2.2fr 1fr;;
    gap: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    animation: deslizarDireitaRapido 1.5s 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Timing function diferente pra mais impacto */
    animation-delay: var(--delay, 0s);
}

.screen {
    background-color: #2b4779;
    height: 45px;
    width: 98%;
    margin: 0 auto;
    border-radius: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.seat-selection-area, .ticket-quantity-area {
    background-color: #080b126e;
    border-radius: 22px;
    padding: 20px;
}
.seat-selection-area {
    display: flex;
    flex-direction: column;
}

.seat-selection-area article {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

.seat-selection-area h2 {
    padding: 0 2%;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}


.seat-map-container {
    overflow-x: auto;
    padding-bottom: 10px;
}

.seat-map {
    display: inline-grid;
    grid-template-columns: repeat(var(--num-colunas, 10), 25px);
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.seat-row {
    display: contents;
}

.seat {
    width: 25px;
    height: 25px;
    background-color: #9DB6DC;
    /* Assento livre */
    border: 1px solid #388E3C;
    border-radius: 8px 8px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #00000062;
    font-size: 0.6em;
    transition: background-color 0.2s ease;
}

.seat.occupied {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    cursor: not-allowed;
}

.seat.selected {
    background-color: #4ad651;
    border: 1px solid #388E3C;
}

/*  */

.ticket-quantity-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 82vh;
}

.movie-details{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    gap: 10px;
    padding: 0.75rem;
    background-color: var(--bg-mid-light-blue);
    border-radius: 18px;
}

.movie-details img {
    width: 100%;
    min-width: 100px;
    min-height: 120px;
    height: auto;
    border-radius: 12px;
}

.movie-details div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
}
.movie-details div span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
.movie-details div p, .movie-details div h3 {
    background-color: var(--bg-deep-blue);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ticket-type-control {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-mid-light-blue);
    border-radius: 14px;
}

.ticket-type-control span {
    font-weight: bold;
    flex-grow: 1;
}

.quantity-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.quantity-control button {
    background-color: var(--bg-deep-blue);
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.quantity-control button:hover {
    background-color: #0056b3;
}

.quantity-control span.count {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    background-color: var(--bg-deep-blue);
    flex-grow: 1;
    border-radius: 7px;
    width: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-group{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

.total-info {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.total-info h4 {
    margin: 0;
    color: #0056b3;
}

.total-info p {
    font-size: 1.5em;
    font-weight: bold;
}

.validation-message {
    color: #f44336;
    /* Vermelho para erros */
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}