.mainContainer {
   background: linear-gradient(144deg,var(--bg-mid-blue) 0%, rgba(91, 104, 223, 0.123) 35%, rgba(115, 224, 169, 0.123) 100%);
}

.titlePage{
    color: var(--text-primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
    animation: fadeInTitulo 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Timing function diferente pra mais impacto */
    animation-delay: var(--delay, 0s);
}

.cpfContent article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadeInTitulo 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Timing function diferente pra mais impacto */
    animation-delay: var(--delay, 0s);
}
.display{
    padding: 20px;
    width: 19rem;
    height: 5rem;
    background-color: #11182796;
    border: 3px solid #9db6dc3a;
    border-radius: 1.6rem;
    color: var(--text-primary-color);
    font-size: 1.2rem;
}
.btnCPF{
    padding: 20px;
    width: 5.3rem;
    height: 5.3rem;
    border: 3px solid #9db6dc3a;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.btnCPFcolor:hover {
    background-color: var(--btn-high-blue);
    transform: scale(1.04); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
}
.btnCPFcolor {
    background-color: #11182796;
}
#cpf_keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 15px; 
}

#cpf_keyboard button[data-key="del"]:hover {
    background-color: #b91d0b;
    transform: scale(1.04); 
}

#continueCPFbtn { 
    background-color: var(btn-low-blue); 
    cursor: not-allowed; 
}

#continueCPFbtn:not([disabled]) {
    background-color: var(--btn-high-blue); 
    cursor: pointer;
}

#continueCPFbtn:not([disabled]):hover {
    background-color: var(--btn-high-blue-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04); 
}

@media (max-height: 700px) {
    .display {
        width: 15rem;
        height: 4.5rem;
        font-size: 1rem;
    }
    .btnCPF {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 1rem;
    }
    #cpf_keyboard {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}




/* ANIMAÇÃO CSS RAMSTER */
/* From Uiverse.io by Nawsome */ 
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}