@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-deep-blue: #080B12;
  --bg-mid-blue: #111827;

  --btn-high-blue: #4672b1;
  --btn-high-blue-hover: rgb(34, 76, 148);
  --btn-low-blue: #172135;
  --btn-low-blue-hover: rgb(31, 44, 73);


  --text-primary-color: #E9E9E9;
  --text-secondary-color: #9C9C9C;
}

body {
  color: var(--text-primary-color);
  background-color: var(--bg-deep-blue);
  font-family: Onest;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding: 0 16px 16px 16px;
}