<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>OpenTickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <h1>Bem vindo ao CineUnima</h1>
        <p>Entre com seu CPF para ter acesso a benefícios!</p>
        <div>
            <button>
                Continuar com CPF
            </button>
            <a href="{{ url_for('vend.escolher_filme') }}">
                <button>
                    Continuar sem CPF
                </button>
            </a>
        </div>
    </div>
</body>

</html>